@import url('https://fonts.cdnfonts.com/css/y2k-neophyte');

.H1{
    font-family: 'Y2K Neophyte', sans-serif;
    text-align: center;
    padding-top: 0px;
    font-size: 5rem;
    color: aliceblue;
    margin-top: 1rem;
    margin-bottom: 0%;
    
}

.H2{
  font-family: 'Y2K Neophyte', sans-serif;
  text-align: center;
  padding-top: 0px;
  font-size: 1.6rem;
  color: aliceblue;
}

  .verticalLine {
    border: none;
  border-top: 3px solid #000; /* Adjust the width and color as needed */
  margin: 10px 0; /* Adjust the margin to position the line */
  }

  .helpIcon {
    position: absolute;
    top: 1%;
    right: 5%;
    display: inline-block;
    cursor: auto;
    color: aliceblue;
    font-family: 'Y2K Neophyte', sans-serif;
    font-size: 2rem;
    
}

.helpIcon:hover {
    cursor: help;
    animation: breathe 1s infinite alternate
}

@keyframes breathe {
    0% {
        transform: scale(1); /* Initial scale */
    }
    100% {
        transform: scale(1.3); /* Scale up */
    }
}